<h2>Por País</h2>
<hr />
<div class="row">
  <div class="col">
    <app-country-search-input
      (onResult)="searchCountries($event)"
      (onDebounce)="suggestions($event)"
      placeholder="Buscar País..."
    ></app-country-search-input>
  </div>
</div>

<div *ngIf="hasError" class="alert alert-danger">No se encontró ninguna coincidencia con: {{ toSearch }}</div>

<div *ngIf="countries.length != 0" class="row">
  <div class="col">
    <app-countries-table [countries]="countries"></app-countries-table>
  </div>
</div>
